<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="shortcut icon" href="/static/imags/s.jpg">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">


</head>
<body>

<form action="">
    <label for="3">用户名</label>
    <input type="text" id="3">
</form>

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

<script></script>

</body>
</html>